Repository Lonli-Lokli/vinto: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Game Engine, Bot AI, Local Client, Shared Types

codecov.yml:

# Codecov configuration
# See: https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        target: 70%           # Target coverage percentage
        threshold: 2%         # Allow 2% drop before failing
        if_ci_failed: error
    patch:
      default:
        target: auto
        threshold: -0.1%

comment:
  layout: "header, diff, flags, components"
  behavior: default
  require_changes: false      # Always comment on PRs

flags:
  unittests:
    paths:
      - packages/
      - apps/

component_management:
  individual_components:
    - component_id: engine
      name: Game Engine
      paths:
        - packages/engine/**
    - component_id: bot
      name: Bot AI
      paths:
        - packages/bot/**
    - component_id: local-client
      name: Local Client
      paths:
        - packages/local-client/**
    - component_id: shapes
      name: Shared Types
      paths:
        - packages/shapes/**

ignore:
  - "**/*.spec.ts"
  - "**/*.test.ts"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/test-output/**"
  - "**/*.config.ts"
  - "**/dist/**"

chore(deps): configure Dependabot to exclude Nx packages (#47)
  .github/dependabot.yml
  .github/workflows/nx-migration.yml
  README.md
Due: none

chore: update memory phase screen
  apps/vinto/next-env.d.ts
  apps/vinto/src/app/components/game-phase-indicators.tsx
  packages/bot/tsconfig.json
  packages/engine/tsconfig.json
  packages/local-client/tsconfig.json
Due: unittests, Game Engine, Bot AI, Local Client

chore: downgrade vitest/coverage
  apps/vinto/src/app/components/game-phase-indicators.tsx
  package-lock.json
  package.json
Due: unittests

Update permissions in claude.yml to write access
  .github/workflows/claude.yml
Due: none

Enhance wake lock toggle test for UI state updates
  apps/vinto/specs/wake-lock-toggle.spec.tsx
Due: unittests

Add guard against concurrent wake lock requests
  apps/vinto/src/app/components/presentational/wake-lock-toggle.tsx
Due: unittests

Add allowed tools for Claude workflow
  .github/workflows/claude.yml
Due: none

Update allowed tools for Claude configuration
  .github/workflows/claude.yml
Due: none

test: Add comprehensive tests for presentational components (#49)
  apps/vinto/specs/avatar.spec.tsx
  apps/vinto/specs/card.spec.tsx
  apps/vinto/specs/game-info.spec.tsx
  apps/vinto/specs/player-avatar.spec.tsx
  apps/vinto/specs/theme-toggle.spec.tsx
  apps/vinto/specs/wake-lock-toggle.spec.tsx
  apps/vinto/src/app/components/presentational/wake-lock-toggle.tsx
  apps/vinto/test-setup.ts
  apps/vinto/vite.config.ts
Due: unittests

Enable CI to fail on Codecov errors
  .github/workflows/ci.yml
Due: none

Modify coverage settings and comment layout
  codecov.yml
Due: none

test: Add comprehensive tests for presentational components (#51)
  .github/workflows/ci.yml
  apps/vinto/eslint.config.mjs
  apps/vinto/specs/clickable-card.spec.tsx
  apps/vinto/specs/draw-card.spec.tsx
  apps/vinto/specs/draw-pile.spec.tsx
  apps/vinto/specs/error-boundary.spec.tsx
  apps/vinto/specs/image.spec.tsx
  apps/vinto/tsconfig.spec.json
  codecov.yml
  packages/local-client/src/lib/adapters/botAIAdapter.ts
Due: unittests, Local Client

feat: update copy usage
  packages/bot/src/lib/mcts-bot-decision.ts
  packages/bot/src/lib/mcts-determinization.ts
  packages/bot/src/lib/mcts-state-transition.ts
  packages/engine/src/lib/__tests__/test-helpers.ts
  packages/engine/src/lib/cases/call-vinto.ts
  packages/engine/src/lib/cases/confirm-peek.ts
  packages/engine/src/lib/cases/declare-king-action.ts
  packages/engine/src/lib/cases/discard-card.ts
  packages/engine/src/lib/cases/draw-card.ts
  packages/engine/src/lib/cases/empty.ts
  packages/engine/src/lib/cases/execute-jack-swap.ts
  packages/engine/src/lib/cases/execute-queen-swap.ts
  packages/engine/src/lib/cases/finish-setup.ts
  packages/engine/src/lib/cases/finish-toss-in.ts
  packages/engine/src/lib/cases/participate-in-toss.ts
  packages/engine/src/lib/cases/peek-setup-card.ts
  packages/engine/src/lib/cases/play-discard.ts
  packages/engine/src/lib/cases/player-toss-in-finished.ts
  packages/engine/src/lib/cases/process-ai-turn.ts
  packages/engine/src/lib/cases/select-action-target.ts
  packages/engine/src/lib/cases/set-coalition-leader.ts
  packages/engine/src/lib/cases/set-next-draw-card.ts
  packages/engine/src/lib/cases/skip-jack-swap.ts
  packages/engine/src/lib/cases/skip-peek.ts
  packages/engine/src/lib/cases/skip-queen-swap.ts
  packages/engine/src/lib/cases/swap-card.ts
  packages/engine/src/lib/cases/swap-hand-with-deck.ts
  packages/engine/src/lib/cases/update-bot-version.ts
  packages/engine/src/lib/cases/update-difficulty.ts
  packages/engine/src/lib/cases/use-card.ts
  packages/local-client/src/lib/game-client.ts
  packages/shapes/src/lib/domain-types.ts
Due: unittests, Game Engine, Bot AI, Local Client, Shared Types

fix: update lint config
  apps/vinto/e2e/accessibility.spec.ts
  apps/vinto/eslint.config.mjs
  apps/vinto/test-setup.ts
  apps/vinto/tsconfig.json
  eslint.config.mjs
  migrations.json
  package-lock.json
  package.json
  packages/bot/src/lib/mcts-bot-decision.ts
  packages/bot/src/lib/mcts-determinization.ts
  packages/local-client/eslint.config.mjs
Due: unittests, Bot AI, Local Client

build fix
  packages/bot/src/lib/mcts-determinization.ts
Due: unittests, Bot AI

fix: tests
  apps/vinto/src/test-setup.ts
  apps/vinto/tsconfig.spec.json
  apps/vinto/vite.config.ts
  packages/bot/src/lib/mcts-determinization.ts
Due: unittests, Bot AI

Delete migrations.json
  migrations.json
Due: none

work for coalition mode
  packages/bot/src/lib/__tests__/coalition-planner.test.ts
  packages/bot/src/lib/coalition-planner.ts
  packages/bot/src/lib/index.ts
  packages/bot/src/lib/mcts-coalition-evaluator.ts
  packages/engine/src/lib/cases/swap-card.ts
  packages/engine/src/lib/utils/scoring.ts
  packages/engine/src/lib/utils/toss-in-utils.ts
  packages/local-client/src/lib/__tests__/coalition-final-round.test.ts
  packages/local-client/src/lib/adapters/botAIAdapter.ts
Due: unittests, Game Engine, Bot AI, Local Client

add openspec
  .claude/commands/opsx/apply.md
  .claude/commands/opsx/archive.md
  .claude/commands/opsx/explore.md
  .claude/commands/opsx/propose.md
  .claude/commands/opsx/sync.md
  .claude/commands/opsx/update.md
  .claude/skills/openspec-apply-change/SKILL.md
  .claude/skills/openspec-archive-change/SKILL.md
  .claude/skills/openspec-explore/SKILL.md
  .claude/skills/openspec-propose/SKILL.md
  .claude/skills/openspec-sync-specs/SKILL.md
  .claude/skills/openspec-update-change/SKILL.md
  apps/vinto/e2e/happy-path.spec.ts
  openspec/changes/add-game-recording-replay/design.md
  openspec/changes/add-game-recording-replay/proposal.md
  openspec/changes/add-game-recording-replay/specs/deterministic-engine/spec.md
  openspec/changes/add-game-recording-replay/specs/game-recording/spec.md
  openspec/changes/add-game-recording-replay/specs/game-replay/spec.md
  openspec/changes/add-game-recording-replay/tasks.md
  openspec/changes/archive/.gitkeep
  openspec/changes/migrate-to-kotlin-multiplatform/design.md
  openspec/changes/migrate-to-kotlin-multiplatform/proposal.md
  openspec/changes/migrate-to-kotlin-multiplatform/specs/cross-implementation-parity/spec.md
  openspec/changes/migrate-to-kotlin-multiplatform/specs/kmp-bot/spec.md
  openspec/changes/migrate-to-kotlin-multiplatform/specs/kmp-game-client/spec.md
  openspec/changes/migrate-to-kotlin-multiplatform/specs/kmp-shared-engine/spec.md
  openspec/changes/migrate-to-kotlin-multiplatform/specs/mobile-app/spec.md
  openspec/changes/migrate-to-kotlin-multiplatform/specs/online-multiplayer/spec.md
  openspec/changes/migrate-to-kotlin-multiplatform/tasks.md
  openspec/config.yaml
  openspec/project.md
  openspec/specs/.gitkeep
Due: none

style(e2e): apply prettier trailing-comma formatting
  apps/vinto/e2e/happy-path.spec.ts
Due: none

fix(claude): correct settings filename so project permissions apply
  .claude/setting.json
  .claude/settings.json
Due: none

fix(bot): repair stale types in bot test files
  packages/bot/src/lib/__tests__/mcts-bot-joker-swap.test.ts
  packages/bot/src/lib/__tests__/mcts-determinization.test.ts
  packages/bot/src/lib/__tests__/opponent-modeler.test.ts
Due: none

docs(openspec): scope the canonical hash to game logic; fix change ordering
  openspec/changes/add-game-recording-replay/design.md
  openspec/changes/add-game-recording-replay/proposal.md
  openspec/changes/add-game-recording-replay/specs/deterministic-engine/spec.md
  openspec/changes/add-game-recording-replay/specs/game-recording/spec.md
  openspec/changes/add-game-recording-replay/tasks.md
  openspec/changes/migrate-to-kotlin-multiplatform/design.md
  openspec/changes/migrate-to-kotlin-multiplatform/proposal.md
  openspec/changes/migrate-to-kotlin-multiplatform/tasks.md
Due: none

feat(shapes): add seeded mulberry32 Prng with cross-language test vectors
  fixtures/prng/vectors.json
  packages/shapes/src/lib/__tests__/prng.test.ts
  packages/shapes/src/lib/prng.ts
Due: unittests, Shared Types

feat: make the engine deterministic (seed + actions reproduce a game)
  packages/bot/src/lib/__tests__/mcts-bot-joker-swap.test.ts
  packages/bot/src/lib/__tests__/test-helpers.ts
  packages/engine/src/lib/__tests__/determinism.test.ts
  packages/engine/src/lib/__tests__/purity-guard.test.ts
  packages/engine/src/lib/__tests__/test-helpers.ts
  packages/engine/src/lib/cases/player-toss-in-finished.ts
  packages/engine/src/lib/utils/toss-in-utils.ts
  packages/local-client/src/lib/__tests__/initialize-game.test.ts
  packages/local-client/src/lib/__tests__/test-helper.ts
  packages/local-client/src/lib/game-client.ts
  packages/local-client/src/lib/initializeGame.ts
  packages/shapes/src/lib/domain-types.ts
  packages/shapes/src/lib/game-state-types.ts
  packages/shapes/src/lib/index.ts
  packages/shapes/src/lib/utils.ts
Due: unittests, Game Engine, Local Client, Shared Types

feat: add GameRecording v1 format, canonical hashing and the recorder
  openspec/changes/add-game-recording-replay/specs/deterministic-engine/spec.md
  openspec/changes/add-game-recording-replay/tasks.md
  packages/local-client/src/lib/__tests__/game-recorder.test.ts
  packages/local-client/src/lib/game-client.ts
  packages/local-client/src/lib/game-recorder.ts
  packages/local-client/src/lib/initializeGame.ts
  packages/local-client/src/lib/recording-auto-save.ts
  packages/shapes/src/lib/__tests__/canonical-json.test.ts
  packages/shapes/src/lib/canonical-json.ts
  packages/shapes/src/lib/game-recording-types.ts
  packages/shapes/src/lib/index.ts
Due: unittests, Local Client, Shared Types

feat(engine): add replayRecording and the fixture parity gate
  openspec/changes/add-game-recording-replay/tasks.md
  packages/engine/src/lib/__tests__/replay-fixtures.test.ts
  packages/engine/src/lib/__tests__/replay.test.ts
  packages/engine/src/lib/index.ts
  packages/engine/src/lib/replay.ts
Due: unittests, Game Engine

feat(tools): add recording generator and replay CLI
  .npmrc
  openspec/changes/add-game-recording-replay/tasks.md
  package-lock.json
  package.json
  packages/local-client/package.json
  packages/local-client/src/headless.ts
  packages/local-client/src/lib/recording-auto-save.ts
  tools/generate-recordings.ts
  tools/replay-recording.ts
Due: unittests, Local Client

docs(engine): add RECORDING.md, the cross-implementation contract
  .npmrc
  docs/game-engine/RECORDING.md
  openspec/changes/add-game-recording-replay/tasks.md
  package-lock.json
  package.json
Due: none

fix(bot): make bots call Vinto so games can end
  openspec/changes/add-game-recording-replay/tasks.md
  packages/bot/src/lib/__tests__/vinto-call.test.ts
  packages/bot/src/lib/mcts-bot-decision.ts
  packages/bot/src/lib/strategic-bot-decision.ts
  packages/bot/src/lib/vinto-call-rule.ts
  tools/generate-recordings.ts
Due: unittests, Bot AI

feat: one bot engine -- delete v2 and botVersion
  apps/vinto/src/app/components/game-header.tsx
  apps/vinto/src/app/components/mobile-settings.tsx
  apps/vinto/src/app/components/presentational/error-boundary.tsx
  docs/bot/BOT-ENGINE-DECISION.md
  openspec/changes/migrate-to-kotlin-multiplatform/tasks.md
  packages/bot/src/lib/__tests__/test-helpers.ts
  packages/bot/src/lib/__tests__/vinto-call.test.ts
  packages/bot/src/lib/bot-factory.ts
  packages/bot/src/lib/strategic-bot-decision.ts
  packages/engine/src/lib/__tests__/replay.test.ts
  packages/engine/src/lib/__tests__/test-helpers.ts
  packages/engine/src/lib/action-validator.ts
  packages/engine/src/lib/cases/update-bot-version.ts
  packages/engine/src/lib/game-actions.ts
  packages/engine/src/lib/game-engine.ts
  packages/local-client/src/lib/__tests__/game-recorder.test.ts
  packages/local-client/src/lib/__tests__/initialize-game.test.ts
  packages/local-client/src/lib/__tests__/test-helper.ts
  packages/local-client/src/lib/adapters/botAIAdapter.ts
  packages/local-client/src/lib/initializeGame.ts
  packages/shapes/src/lib/__tests__/canonical-json.test.ts
  packages/shapes/src/lib/action-types.ts
  packages/shapes/src/lib/domain-types.ts
  packages/shapes/src/lib/game-recording-types.ts
  packages/shapes/src/lib/game-state-types.ts
  tools/generate-recordings.ts
Due: unittests, Game Engine, Bot AI, Local Client, Shared Types

docs(openspec): retarget the migration to Cloudflare and one UI codebase
  openspec/changes/migrate-to-kotlin-multiplatform/design.md
  openspec/changes/migrate-to-kotlin-multiplatform/proposal.md
  openspec/changes/migrate-to-kotlin-multiplatform/specs/online-multiplayer/spec.md
  openspec/changes/migrate-to-kotlin-multiplatform/tasks.md
Due: none

feat(kmp): bootstrap the Kotlin workspace and clear the platform gate
  .gitattributes
  .gitignore
  docs/kotlin/PLATFORM-GATE.md
  kmp/build.gradle.kts
  kmp/gradle/libs.versions.toml
  kmp/gradle/wrapper/gradle-wrapper.jar
  kmp/gradle/wrapper/gradle-wrapper.properties
  kmp/gradlew
  kmp/gradlew.bat
  kmp/settings.gradle.kts
  kmp/shared/shapes/build.gradle.kts
  kmp/shared/shapes/src/commonMain/kotlin/game/vinto/shapes/Prng.kt
  kmp/shared/shapes/src/jvmTest/kotlin/game/vinto/shapes/PrngVectorsTest.kt
  kmp/worker/build.gradle.kts
  kmp/worker/src/jsMain/kotlin/game/vinto/worker/Main.kt
Due: none

feat(kmp): measure the Compose/Wasm bundle (platform gate 2a.2)
  docs/kotlin/PLATFORM-GATE.md
  kmp/build.gradle.kts
  kmp/composeApp/build.gradle.kts
  kmp/composeApp/src/wasmJsMain/kotlin/game/vinto/app/Main.kt
  kmp/gradle/libs.versions.toml
  kmp/settings.gradle.kts
Due: none

docs(kotlin): handoff guide for continuing on macOS
  docs/kotlin/README.md
  kmp/shared/shapes/build.gradle.kts
  openspec/changes/migrate-to-kotlin-multiplatform/design.md
Due: none

feat(kmp): build and test the iOS targets for the first time
  .gitignore
  docs/kotlin/README.md
  kmp/gradle.properties
  kmp/shared/shapes/build.gradle.kts
  kmp/shared/shapes/src/commonTest/kotlin/game/vinto/shapes/PrngVectorsTest.kt
  openspec/changes/migrate-to-kotlin-multiplatform/design.md
Due: none

feat(kmp): run one Compose UI on Android, iOS and the web
  .gitignore
  docs/kotlin/README.md
  kmp/build.gradle.kts
  kmp/composeApp/build.gradle.kts
  kmp/composeApp/src/androidMain/AndroidManifest.xml
  kmp/composeApp/src/androidMain/kotlin/game/vinto/app/MainActivity.kt
  kmp/composeApp/src/androidMain/kotlin/game/vinto/app/Platform.android.kt
  kmp/composeApp/src/commonMain/kotlin/game/vinto/app/App.kt
  kmp/composeApp/src/iosMain/kotlin/game/vinto/app/MainViewController.kt
  kmp/composeApp/src/iosMain/kotlin/game/vinto/app/Platform.ios.kt
  kmp/composeApp/src/wasmJsMain/kotlin/game/vinto/app/Main.kt
  kmp/composeApp/src/wasmJsMain/kotlin/game/vinto/app/Platform.wasmJs.kt
  kmp/gradle.properties
  kmp/gradle/libs.versions.toml
  kmp/iosApp/iosApp.xcodeproj/project.pbxproj
  kmp/iosApp/iosApp.xcodeproj/xcshareddata/xcschemes/iosApp.xcscheme
  kmp/iosApp/iosApp/ContentView.swift
  kmp/iosApp/iosApp/iOSApp.swift
  kmp/shared/shapes/build.gradle.kts
Due: none
